@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css");

body {
  background: #efefef;
 font-family: 'Alegreya', serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #7f9a14;
  border-top: 1px solid #9fb93c;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid #9fb93c;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  font-family: 'Open Sans', sans-serif;
  flex: 8;
}

.chatbar-username {
  font-family: 'Open Sans', sans-serif;
  flex: 2;
}

.online-users {
  color: #fff;
  display: block;
  float: right;
  padding-right: 30px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
}

.message {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  background: #7f9a14;
  border-bottom: 1px solid #9fb93c;
  color: #fff;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

h1 {
  color: tomato;
}

.colour1 {
  color: #588c7e;
}
.colour2 {
  color: #c7b44d;
}
.colour3 {
  color: #f2ae72;
}
.colour4 {
  color: #d96459;
}











